body {
    /* give this to all tags from html to .fullscreen */
    background: #fff;
}

.woo {
    background: #fff;
    width:100%;
    min-height:100%;

}

.woo .head {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.woo #content {
    padding: 0;
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.woo .hello a {
    text-decoration: none;    
    
}