<section class="try-it">

  <form>
      <span role="path" class="path">
        <span class="segment">
          <span ng-repeat='token in api.baseUri.tokens track by $index'>
            <span ng-if='api.baseUri.parameters[token]'>
              <parameter-field name='token' placeholder='token' model='context.pathBuilder.baseUriContext[token]' definition='api.baseUri.parameters[token]' invalid-class='error'></parameter-field>
            </span>
            <span class="segment" ng-if="!api.baseUri.parameters[token]">{{token}}</span>
          </span>
        <span role='segment' ng-repeat='segment in resource.pathSegments' ng-init="$segmentIndex = $index">
          <span ng-repeat='token in segment.tokens track by $index'>
            <span ng-if='segment.parameters[token]'>
              <parameter-field name='token' placeholder='token' model='context.pathBuilder.segmentContexts[$segmentIndex][token]' definition='segment.parameters[token]' invalid-class='error'></parameter-field>
            </span>
            <span class="segment" ng-if="!segment.parameters[token]">{{token}}</span>
          </span>
        </span>
      </span>
    </span>


    <security-schemes ng-if="apiClient.securitySchemes" schemes="apiClient.securitySchemes" keychain="ramlConsole.keychain"></security-schemes>
    <named-parameters heading="Headers" parameters="context.headers"></named-parameters>
    <named-parameters heading="Query Parameters" parameters="context.queryParameters"></named-parameters>
    <body-content body="context.bodyContent"></body-content>


    <div class="form-actions">
      <i ng-show='apiClient.inProgress()' class="icon-spinner icon-spin icon-large"></i>

      <div role="error" class="error" ng-show="apiClient.missingUriParameters">
        Required URI Parameters must be entered
      </div>
      <div role="warning" class="warning" ng-show="apiClient.disallowedAnonymousRequest">
        Successful responses require authentication
      </div>
      <button role="try-it" ng-class="'btn-' + method.method" ng-click="apiClient.execute()">
        {{method.method}}
      </button>
    </div>
  </form>

  <div class="response" ng-if="apiClient.response">
    <h4>Response</h4>
    <div class="request-url">
      <h5>Request URL</h5>
      <code class="response-value">{{apiClient.response.requestUrl}}</code>
    </div>

    <div class="status">
      <h5>Status</h5>
      <code class="response-value">{{apiClient.response.status}}</code>
    </div>
    <div class="headers">
      <h5>Headers</h5>
      <ul class="response-value">
        <li ng-repeat="(header, value) in apiClient.response.headers track by header">
          <code>
            <span class="header-key">{{header}}:</span>
            <span class="header-value">{{value}}</span>
          </code>
        </li>
      </ul>
    </div>
    <div class="body">
      <h5>Body</h5>
      <div class="response-value">
        <div class="code" mode='{{apiClient.response.contentType}}' code-mirror="apiClient.response.body" visible="apiClient.response.body"></div>
      </div>
    </div>
  </div>
</section>
